<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LYCircleView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE3A60B71CEAF79600FE062D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE3A60D01CEAF79600FE062D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE3A60DB1CEAF79600FE062D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
